:root {
  /* Primary */
  --green: hsl(75, 94%, 57%);
  /* Neutral */
  --white: hsl(0, 0%, 100%);
  --grey: hsl(0, 0%, 20%);
  --dark-grey: hsl(0, 0%, 12%);
  --off-black: hsl(0, 0%, 8%);
  --font-inter: 'Inter', sans-serif;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  font-family: var(--font-inter);
  color: var(--white);
}

img {
  width: 100%;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--off-black);
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-container {
  width: 90%;
  max-width: 350px;
  padding: 1.25rem;
  background-color: var(--dark-grey);
  border-radius: 0.62rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatar-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img-container {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 1.5rem;
}

.profile-name {
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.profile-country {
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--green);
  margin-bottom: 1.5rem;
}

.profile-skill {
  font-size: 0.87rem;
  color: var(--dark-greygrey);
  margin-bottom: 1.5rem;
}

.social-media-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 0.9rem;
}

.social-media-button {
  width: 100%;
  border-radius: 0.5rem;
  font-size: 0.9rem;
  font-weight: 700;
  color: var(--white);
  background-color: var(--grey);
  text-align: center;
  padding: 0.9rem;
}

.social-media-button:hover {
  background-color: var(--green);
}

.social-media-button:focus {
  color: var(--off-black);
}